@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: light;
}

body {
  @apply bg-slate-50 text-slate-900 antialiased;
  @apply selection:bg-indigo-500 selection:text-white;
  
}

#root {
  @apply min-h-screen;
}
